<p-toast></p-toast>
<p-blockUI [blocked]="isLoading" [ngClass]="isLoading?'loader':''">
    <!-- <div class="flex !justify-center align-items-center"> -->

        <i class='bx bx-loader-circle fa-spin custom-icon fa-spinner '></i>
    <!-- </div> -->

  </p-blockUI>
<div class="body mt-4">
  <label class="text-black text-3xl scale-110">Stock Upload Mapping</label>

  <!-- <div class="row col-9 justify-end d-flex !m-0">
                    <span class="!mb-4 btn-view cursor-pointer" >View Mapping</span>
                </div> -->
  <form [formGroup]="stMappingForm" class="">
    <div class="d-flex !justify-center mt-3 z-50 scale-110">
      <div
        class="w-[46vw] card !flex !flex-col !gap-6 !justify-center !items-center"
      >
        <p-select
          [options]="brands"
          formControlName="brands"
          optionLabel="brand"
          optionValue="brand_id"
          placeholder="Select Brands"
          class="dropdown !mt-3 w-56 md:w-56"
          (onChange)="onBrandSelect($event)"
        />
        <div class=" d-flex justify-center mt-1" *ngIf="stMappingForm.get('brands')?.touched && stMappingForm?.get('brands')?.invalid " >
            <small *ngIf="stMappingForm?.get('brands')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
           </div>
        <div class="row w-full">
          <div class="col d-flex justify-evenly mb-4">
            <span class="btn-view cursor-pointer" (click)="showDialog()" [ngClass]="isMappingExist?'':'disabled'"
             >View & Edit Mapping</span
            >
            <!-- <span class="btn-view cursor-pointer" >Submit</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex !justify-evenly mt-4">
      <div>
        <input
          type="checkbox"
          class="cursor-pointer w-4 h-4"
          formControlName="mappingForBothStock"
          (change)="onCheckboxChange($event)"
        />
        <span class="f-15 !ms-2"
          >Is Mapping Different for Current & Older Days Stock?</span
        >
      </div>
    </div>

    <div>
        <div class=" add-mapping-card w-[51vw] !flex  !flex-col mt-3 !gap-6 p-3">
            <span>Add Mapping for Current Days Stock Upload : </span>
            <div class="d-flex flex-row justify-between">
              <p-fileupload
                #fu
                class="ms-2 me-5"
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                class="btn-file-upload"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept=".xlsx,.csv,.xls"
                (onUpload)="onUpload($event,'Current')"
              />
    
              <div class="d-flex justify-end">
                <p-button
                  label="Upload"
                  class="btn-upload"
                  (onClick)="fu.upload()"
                  severity="secondary"
                  class="pb-3"
                />
              </div>
            </div>
            <div class=" mapping-card d-flex justify-center">
                <form [formGroup]="currentStockForm">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-6 d-flex justify-center align-items-center mt-2 ">
                            <span>Part Number:</span>
                          </div>
                          
                          
                          <div class="col-6">
                            <p-select
                              [options]="currentStockColumns"
                             formControlName="partNumber"
                              placeholder="Select"
                              class="dropdown !mt-3 w-56 md:w-56"
                            />
                          </div>
                        </div>
                        <div class=" d-flex justify-center mt-1" *ngIf="currentStockForm.get('partNumber')?.touched && currentStockForm?.get('partNumber')?.invalid " >
                            <small *ngIf="currentStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
                           </div>
          
                        <div class="row">
                          <div class="col-6 d-flex justify-center align-items-center mt-2">
                            <span>Location:</span>
                          </div>
                          <div class="col-6">
                            <p-select
                            [options]="currentStockColumns"
                              placeholder="Select"
                              formControlName="location"
                              class="dropdown !mt-3 w-56 md:w-56"
                            />
                          </div>
                        </div>
                        <div class=" d-flex justify-center mt-1" *ngIf="currentStockForm.get('location')?.touched && currentStockForm?.get('location')?.invalid " >
                            <small *ngIf="currentStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
                           </div>
                        <div class="row">
                          <div class="col-6 d-flex justify-center align-items-center mt-2">
                            <span>Stock Quantity:</span>
                          </div>
                          <div class="col-6">
                            <p-select
                            [options]="currentStockColumns"
                             formControlName="stockQty"
                              placeholder="Select"
                              class="dropdown !mt-3 w-56 md:w-56"
                            />
                          </div>
                        </div>
                        <div class=" d-flex justify-center mt-1" *ngIf="currentStockForm.get('stockQty')?.touched && currentStockForm?.get('stockQty')?.invalid " >
                            <small *ngIf="currentStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
                           </div>
                      </div>
                    </div>
                    
                </form>
            </div>
    
            <span *ngIf="isMappingForBothOlder"
              >Add Mapping for Older Days Stock Upload :
            </span>
    
            <div
              class="d-flex flex-row justify-between"
              *ngIf="isMappingForBothOlder"
            >
              <p-fileupload
                #fu
                class="ms-2 me-5 btn-file-upload"
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept=".xlsx,.csv,.xls"
                (onUpload)="onUpload($event,'Older')"
              />
    
              <div class="d-flex justify-end">
                <p-button
                  label="Upload"
                  class="btn-upload"
                  (onClick)="fu.upload()"
                  severity="secondary"
                  class="pb-3"
                />
              </div>
            </div>
            <div
              class="card mapping-card d-flex justify-center"
              *ngIf="isMappingForBothOlder"
            >
            <form [formGroup]="olderStockForm">
                <div class="row">
                  <div class="col-12">
                      
                    <div class="row">
                      <div class="col-6 d-flex justify-center align-items-center mt-2">
                        <span>Part Number:</span>
                      </div>
                      <div class="col-6">
                        <p-select
                          [options]="olderStockColumns"
                          placeholder="Select"
                          formControlName="partNumber"
                          class="dropdown !mt-3 w-56 md:w-56"
                        />
                      </div>
                    </div>
                    <div class=" d-flex justify-center mt-1" *ngIf="olderStockForm.get('partNumber')?.touched && olderStockForm?.get('partNumber')?.invalid " >
                        <small *ngIf="olderStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
                       </div>
                    <div class="row">
                      <div class="col-6 d-flex justify-center align-items-center mt-2">
                        <span>Location:</span>
                      </div>
                      <div class="col-6">
                        <p-select
                          [options]="olderStockColumns"
                          placeholder="Select"
                          formControlName="location"
                          class="dropdown !mt-3 w-56 md:w-56"
                        />
                      </div>
                    </div>
                    <div class=" d-flex justify-center mt-1"  *ngIf="olderStockForm.get('location')?.touched && olderStockForm?.get('location')?.invalid " >
                        <small *ngIf="olderStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
                       </div>
                    <div class="row">
                      <div class="col-6 d-flex justify-center align-items-center mt-2">
                        <span>Stock Quantity:</span>
                      </div>
                      <div class="col-6">
                        <p-select
                          [options]="olderStockColumns"
                          placeholder="Select"
                          formControlName="stockQty"
                          class="dropdown !mt-3 w-56 md:w-56"
                        />
                      </div>
                    </div>
                    <div class=" d-flex justify-center mt-1" *ngIf="olderStockForm.get('stockQty')?.touched && olderStockForm?.get('stockQty')?.invalid " >
                        <small *ngIf="olderStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
                       </div>
                  </div>
                </div>
                        
            </form>
            </div>
    
            <div class="!flex !justify-center !align-center w-full">
              <span class="btn-view cursor-pointer" (click)="onSubmit()" [ngClass]="isMappingExist?'disabled':''">Submit</span>
            </div>
          </div>
    </div>
    
      
    
  </form>
</div>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '35rem',height:'80rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
      <span class="font-bold whitespace-nowrap">View Mapping</span>
    </div>
  </ng-template>
  <div>
    <div>
      <input
        type="checkbox"
        class="cursor-pointer w-4 h-4"
        (change)="onCheckboxChangeInView($event)"
      />
      <span class="f-15 !ms-2"
        >Is Mapping Different for Current & Older Days Stock?</span
      >
    </div>
    <div class="row" class="mt-2">
      <div class="col-12">
        <div class="d-flex justify-between mt-2">
          <span class="font-semibold">Mapping For Current Stocks</span>
          <span
            class="font-semibold cursor-pointer"
            (click)="editCurrentStock()"
            >Want to edit?</span
          >
        </div>
        <div
          class="d-flex flex-row justify-between mt-3"
          *ngIf="editCurrentDaysStock"
        >
          <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
          <p-fileupload
            #fu
            class="ms-2 me-5"
            mode="basic"
            chooseLabel="Choose"
            chooseIcon="pi pi-upload"
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept=".xlsx,.csv,.xls"
            (onUpload)="onUpload($event,'Current')"
            class="btn-file-upload"
          />

          <div class="d-flex justify-end">
            <p-button
              label="Upload"
              class="btn-upload"
              (onClick)="fu.upload()"
              severity="secondary"
              class="pb-3"
            />
          </div>
        </div>
        <form [formGroup]="editCurrentDayStockForm">
          <div class="row">
            <div class="col-6 d-flex justify-center align-items-center mt-2">
              <span>Part Number:</span>
            </div>
            <div class="col-6">
              <p-select
                [options]="editCurrentStockColumns"
                formControlName="partNumber"
            
                placeholder="Select"
                class="dropdown !mt-3 w-56 md:w-56"
              />
            </div>
          </div>
          <div  class=" d-flex justify-center mt-1" *ngIf="editCurrentDayStockForm.get('partNumber')?.touched && editCurrentDayStockForm?.get('partNumber')?.invalid " >
            <small *ngIf="editCurrentDayStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
           </div>
          <div class="row">
            <div class="col-6 d-flex justify-center align-items-center mt-2">
              <span>Location:</span>
            </div>
            <div class="col-6">
              <p-select
                [options]="editCurrentStockColumns"
                formControlName="location"
               
                placeholder="Select"
                class="dropdown !mt-3 w-56 md:w-56"
              />
            </div>
          </div>
          <div class=" d-flex justify-center mt-1" *ngIf="editCurrentDayStockForm.get('location')?.touched && editCurrentDayStockForm?.get('location')?.invalid " >
            <small *ngIf="editCurrentDayStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
           </div>
          <div class="row">
            <div class="col-6 d-flex justify-center align-items-center mt-2">
              <span>Stock Quantity:</span>
            </div>
            <div class="col-6">
              <p-select
                [options]="editCurrentStockColumns"
                formControlName="stockQty"
               
                placeholder="Select"
                class="dropdown !mt-3 w-56 md:w-56"
              />
            </div>
          </div>
          <div class=" d-flex justify-center mt-1" *ngIf="editCurrentDayStockForm.get('stockQty')?.touched && editCurrentDayStockForm?.get('stockQty')?.invalid " >
            <small *ngIf="editCurrentDayStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
           </div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="isViewMappingForBothStocks">
      <div class="col-12">
        <div class="d-flex justify-between mt-2">
          <span class="font-semibold">Mapping For Older Stocks</span>
          <span class="font-semibold cursor-pointer" (click)="editOlderStock()"
            >Want to edit?</span
          >
        </div>
        <form [formGroup]="editOlderDaysStockForm">
          <div
            class="d-flex flex-row justify-between mt-3"
            *ngIf="editOlderDaysStock"
          >
            <!-- <span>Add Mapping for Current Days Stock Upload :  </span> -->
            <p-fileupload
              #fu
              class="ms-2 me-5"
              mode="basic"
              chooseLabel="Choose"
              class="btn-file-upload"
              chooseIcon="pi pi-upload"
              name="demo[]"
              url="https://www.primefaces.org/cdn/api/upload.php"
              accept=".xlsx,.csv,.xls"
              (onUpload)="onUpload($event,'Older')"
            />

            <div class="d-flex justify-end">
              <p-button
                label="Upload"
                class="btn-upload"
                (onClick)="fu.upload()"
                severity="secondary"
                class="pb-3"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6 d-flex justify-center align-items-center mt-2">
              <span>Part Number:</span>
            </div>
            <div class="col-6">
              <p-select
                [options]="editOlderStockColumns"
               
                placeholder="Select"
                formControlName="partNumber"
                class="dropdown !mt-3 w-56 md:w-56"
              />
            </div>
          </div>
          <div class=" d-flex justify-center mt-1" *ngIf="editOlderDaysStockForm.get('partNumber')?.touched && editOlderDaysStockForm?.get('partNumber')?.invalid " >
            <small *ngIf="editOlderDaysStockForm?.get('partNumber')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
           </div>

          <div class="row">
            <div class="col-6 d-flex justify-center align-items-center mt-2">
              <span>Location:</span>
            </div>
            <div class="col-6">
              <p-select
                [options]="editOlderStockColumns"
               
                placeholder="Select"
                formControlName="location"
                class="dropdown !mt-3 w-56 md:w-56"
              />
            </div>
          </div>
          <div class=" d-flex justify-center mt-1" *ngIf="editOlderDaysStockForm.get('location')?.touched && editOlderDaysStockForm?.get('location')?.invalid " >
            <small *ngIf="editOlderDaysStockForm?.get('location')?.hasError('required')" style="color: red; font-size: 12px;">Location is required.</small> 
           </div>
          <div class="row">
            <div class="col-6 d-flex justify-center align-items-center mt-2">
              <span>Stock Quantity:</span>
            </div>
            <div class="col-6">
              <p-select
                [options]="editOlderStockColumns"
                
                placeholder="Select"
                formControlName="stockQty"
                class="dropdown !mt-3 w-56 md:w-56"
              />
            </div>
          </div>
          <div class=" d-flex justify-center mt-1" *ngIf="editOlderDaysStockForm.get('stockQty')?.touched && editOlderDaysStockForm?.get('stockQty')?.invalid " >
            <small *ngIf="editOlderDaysStockForm?.get('stockQty')?.hasError('required')" style="color: red; font-size: 12px;">Stock Quantity is required.</small> 
           </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #footer>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (click)="visible = false"
    />
    <p-button
      label="Save"
      [outlined]="true"
      severity="secondary"
      (click)="visible = false"
    />
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="visibleMapping" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
        <span class="font-bold whitespace-nowrap">Mapping Already Exist. You can Edit and View</span>
      </div>
    </ng-template>

    <!-- <ng-template #body>
        <div>
            <span>You can only View and Edit Mapping...</span>
        </div>
    </ng-template> -->
   
  </p-dialog>