<p-toast></p-toast>

<div class="body mt-2 ">
    <span class="text-black text-2xl ">Dealer Location Mapping</span>   
                <div class="d-flex mt-2">
                    <form [formGroup]="dlForm">
                        <div class="d-flex justify-end">
                            <!-- <i *ngIf="isDataPresent"
     class="bx bx-export cursor-pointer font-semibold mb-2"
     style="font-size: 20px;"
     (click)="exportToExcel()">
  </i>
  <i *ngIf="!isDataPresent"
     class="bx bx-export cursor-pointer font-semibold mb-2 disabled"
     style="font-size: 20px;">
  </i> -->
                        </div>
 <div class=" add-mapping-card w-[70vw] h-[15vh]  !flex !flex-row !gap-6 p-3 !items-center">
                       
                            <div>

                                <p-select
                                  [options]="brands"
                                  formControlName="brand"
                                  optionLabel="brand"
                                  optionValue="brand_id"
                                  placeholder="Select Brand"
                                  class="dropdown  w-56 md:w-56"
                                  (onChange)="onBrandSelect($event)"
                                />
                                <div class=" d-flex mt-1" *ngIf="dlForm.get('brand')?.touched && dlForm?.get('brand')?.invalid " >
                                    <small *ngIf="dlForm?.get('brand')?.hasError('required')" style="color: red; font-size: 12px;">Brand is required.</small> 
                                </div>
                            </div>
                            
                      <div>
                          <!-- <p-fileupload [multiple]="false" #fu class=" !line-clamp-3" mode="basic" chooseLabel="Choose"  chooseIcon="pi pi-upload" name="demo[]"
                          [auto]="false" accept=".xlsx,.csv,.xls" formControlName="file" [multiple]="false" (onSelect)="onSelect($event)" class="fileUpload"   />
                          <span>{{addFileName}}</span>
                          <div class=" d-flex mt-1" *ngIf="dlForm.get('file')?.touched && dlForm?.get('file')?.invalid " >
                            <small *ngIf="dlForm?.get('file')?.hasError('required')" style="color: red; font-size: 12px;">File is required.</small> 
                        </div> -->
                        <p-fileupload [multiple]="false" #fu1 class=" !line-clamp-3" mode="basic" chooseLabel="Choose"  chooseIcon="pi pi-upload" name="demo[]"
                        [auto]="false" accept=".xlsx,.csv,.xls"  [multiple]="false" (onSelect)="onSelect($event)"  />
                        <!-- <span>{{addFileName}}</span> -->
                        <div class=" d-flex mt-1" *ngIf="dlForm.get('file')?.touched && dlForm?.get('file')?.invalid " >
                          <small *ngIf="dlForm?.get('file')?.hasError('required')" style="color: red; font-size: 12px;">File is required.</small> 
                      </div>
                      </div>
                    
                       
                        <p-button label="Upload" class="" (onClick)="onUpload()" severity="secondary" [disabled]="!isDataPresent" />
                        <p-button label="Export" class="" (onClick)="exportToExcel()" severity="secondary" [disabled]="isDataPresent" />
                        <p-button label="Edit" class="" (onClick)="showEditPopup()" severity="secondary" [disabled]="isDataPresent" />
                    </div>
                </form>
                </div>
            </div>
           
            <!-- <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
                <ng-template #header>
                  <div class="inline-flex items-center justify-center gap-2">
                    <span class="font-bold whitespace-nowrap">Mapping Already Exist.</span>
                  </div>
                </ng-template>
               
              </p-dialog>  -->

              <p-dialog header="Edit Mapping" [(visible)]="showEditPopUp" [modal]="true" [style]="{ width: '35rem' }">
                <!-- <ng-template #header>
                  <div class="inline-flex items-center justify-center gap-2">
                    <span class="font-bold whitespace-nowrap">Mapping Already Exist.</span>
                  </div>
                </ng-template> -->

                <div class="inline-flex items-center justify-center gap-2 flex-row">

                    <p-fileupload [multiple]="false" #fu class=" !line-clamp-3" mode="basic" chooseLabel="Choose"  chooseIcon="pi pi-upload" name="demo[]"
                    [auto]="false" accept=".xlsx,.csv,.xls" [multiple]="false" (onSelect)="onSelect($event)"   />
                    <!-- <span>{{fileName}}</span> -->
                    <p-button label="Upload" class="" (onClick)="onEdit()" severity="secondary"  />
                   
                </div>
              </p-dialog>           
