<p-toast></p-toast>
<div class=" !w-[100vw]">

    <p-blockUI [blocked]="isLoading">
        <i class='bx bx-loader-circle fa-spin custom-icon fa-spinner'></i>
    
      </p-blockUI>
</div>
<div class="body mt-4 ">
    <span class="text-black text-3xl scale-110">Dealer Location Mapping</span>

</div>
                
                <div class="d-flex !justify-center">
                    <div class="  w-[80vh] add-mapping-card  !flex !flex-col !gap-6 !justify-center !items-center">
                        <form [formGroup]="dlForm">
                            
                            <p-select
                              [options]="brands"
                              formControlName="brand"
                              optionLabel="brand"
                              optionValue="brand_id"
                              placeholder="Select Brands"
                              class="dropdown !mt-3 w-56 md:w-56"
                              
                            />
                            <div class=" d-flex justify-center mt-1" *ngIf="dlForm.get('brand')?.touched && dlForm?.get('brand')?.invalid " >
                                <small *ngIf="dlForm?.get('brand')?.hasError('required')" style="color: red; font-size: 12px;">Part Number is required.</small> 
                               </div>
                            
                        </form>
                      
                        <p-fileupload #fu class="mt-2 !line-clamp-3" mode="basic" chooseLabel="Choose"  chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept=".xlsx,.csv,.xls" (onUpload)="onUpload($event)" />
           
                        <p-button label="Upload" class="" (onClick)="fu.upload()" severity="secondary" class="pb-3" />
                    </div>
                </div>
           

