
<!-- 
<app-header></app-header>
<div class="container flex flex-row space-x-4">
  <app-sidebar class="w-1/4"></app-sidebar> 
  
  <div class="flex-1">
    <router-outlet></router-outlet> 
  </div>
</div> -->
<app-header></app-header> <!-- Header at the top -->

<!-- 
<div class="flex flex-col">

  <div class="flex flex-row flex-1">
    <app-sidebar class="w-1/4"></app-sidebar> 
    
   
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="flex flex-row w-full "> -->
    <div class="row flex-row">
     <div class="col-2">
      <app-sidebar 
      #sidebar
      [ngClass]="{ 'w-1/4 sidebar card bg-gray-50 rounded-lg shadow-sm ': visibleSidebar, 'w-0': !visibleSidebar }"
      class="transition-all duration-300 h-[100vh] fixed"
    ></app-sidebar> 
     </div>
     <div class="col ">
     
        <!-- <div class="d-flex justify-content-center align-items-center" >
          
          <router-outlet></router-outlet>

        </div> -->
        <img src="Background_image.png" alt="Background Image"  class="w-[100vw] h-[100vh] img-fluid fixed -z-10">
        <div class="d-flex justify-content-center align-items-center">
         
          <router-outlet></router-outlet>
        </div>
        
   
     </div>
    <!-- </div> -->
 

 
 
</div> 



